.cards__menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards__item {
    width: 390px;
    height: 150px;
    background-color: #bdc3c7;
    margin-top: 20px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}