.header {
    width: 100%;
    height: 70px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.header__logo {
    margin-top: 30px;
    margin-left: 300px;
}