.range::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 18px;
    height: 18px;
    background: #c0392b;
    border-radius: 50%;
    cursor: pointer;
    transition: .1s;
}

.settings__box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settings__box input {
    margin-bottom: 10px;
}