.settings {
    background-image: url("../../img/bg-settings.png");
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.settings__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #263238;
    border-radius: 20px;
    height: 500px;
    margin-top: 70px;
}

.settings__title {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #ffffff;
    font-size: 50px;
    text-transform: uppercase;
}

.settings__text {
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 40px;
}

.settings__count {
    font-size: 30px;
    color: #ffffff;
    font-weight: bold;
    margin-bottom: 30px;
}

.range[type='range'] {
    -webkit-appearance: none;
    width: 60%;
    height: 7px;
    background-color: #fff;
    border-radius: 8px;
    outline: none;
}

.range[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background-color: #d97830;
    border-radius: 10px;
    cursor: pointer;
}

.settings__button {
    position: absolute;
    bottom: 30px;
    width: 170px;
    height: 50px;
    background-color: #d97830;
    border-radius: 10px;
    border: none;
    color: #ffffff;
    font-size: 20px;
    outline: none;
    cursor: pointer;
}
